body {
  background-image: url("/background3.jpg");
  background-size: 100%;
  background-position: top center;
  background-color: black;
  height: 100%;
  width: auto;
  position: fixed;
  background-repeat: no-repeat;
}
.transport{
  position: relative center;
  margin: 220px;
  width: 80%;
  display: inline-block;
  
}
.shared-music{
  height: 80%;
  width: 40px;
  margin-left: 10px;
  margin-top: 40px;
  padding: 5px;
  position: relative;
  
}